.calc-main {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  padding: 40px 0px;
  box-sizing: border-box;
}

.calc-buttons {
  width: 100vw;
  height:125vw;

}

.calc-result {
  width: 100vw;
  height:calc(100vh - 125vw - 80px);
  position: relative;

}
.calc-text {
  width: 100%;
  height: 34vw;
  text-align: right;
  font-size: 24vw;
  padding: 5vw;
  box-sizing: border-box;
  color: #ffffff;
  position: absolute;
  left: 0px;
  bottom: 0vw;
}
.calc-row {
  display: flex;
  width: 100%;
  height: 25vw;
}
.calc-button-div {
  width: 25%;
  padding: 8px;
  box-sizing: border-box;
}
.calc-button-sec-div {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}
.calc-button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: calc((25vw - 16px) / 2);
}
.calc-orange {
  background-color: #feb33c;
  font-size: 9vw;
  color: #ffffff;
}
.calc-grey {
  background-color: #323232;
  font-size: 9vw;
  color: #ffffff;

}
.calc-lightgrey {
  background-color: #a0a0a0;
  font-size: 8vw;
  color: #000000;
}

.calc-lefttext {
  text-align: left;
  padding-left:8vw;
  box-sizing: border-box;
}
